# Packages/dist
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Develop
venv
*.pyc
build

# pycharmgit 
.idea

# mac
.DS_Store

#dev
*.db
*.sqlite

#data
data_dumps

venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

instance/

.pytest_cache/
.coverage
htmlcov/

dev.cfg

.vscode
