# Production configuration
import os

DEBUG = False
SECRET = os.environ.get('SECRET')
MAILGUN_KEY = os.environ.get('MAILGUN_KEY')
MAILGUN_DOMAIN = os.environ.get('MAILGUN_DOMAIN')
STRIPE_KEY = os.environ.get('STRIPE_KEY')
DEV_EMAIL = os.environ.get('DEV_EMAIL')
DATABASE_URL = os.environ.get('DATABASE_URL')
INVITE_CODE = os.environ.get('INVITE_CODE')
REQUIRE_INVITE = os.environ.get('REQUIRE_INVITE')
DUMP_SECRET = os.environ.get('DUMP_SECRET')
FRONT_END_BASE_URL = os.environ.get('FRONT_END_BASE_URL')
